:root {
  --background-content-color: #ffffff;
  --background-side-navigate: #f8f8f8;
  --text-color-main: #333333;
  --padding-content-block: 24px;
  --padding-main: 32px;
  --padding-bottom-home-block: 96px;
  --header-size-height: 80px;
  --font-size-h1: 58px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --content-max-width: 1200px;
  --info-block-bg-light: #ffffff;
  --info-block-bg-dark: #fafafc;
  --info-block-border-bottom-light: #eef0f6;
  --sub-title-color: #757575;
  --project-description-color: #333333;
  --svg-link-fill: #323232;
  --project-cart-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  --project-cart-shadow-hover: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  --clip-color: #000626E5;
  --clip-border-color: #0011661A;
  --background-footer: #1b1d25;
  --background-content: #fafafc;
  --button-box-shadow-light: 0px 0px 8px 0px #d9d9d9;
  --button-box-shadow-light-active: 0px 0px 6px 0px #d9d9d9;
  --link-color: #5d69ac;
  --main-button-color: #323232;
  color-scheme: light;
}

.dark {
  --background-side-navigate: grey;
  --background-content-color: #0a0a0a;
  --text-color-main: #ffffff;
  --info-block-bg-dark: #191a21;
  --sub-title-color: #cccdce;
  --info-block-bg-light: #12131a;
  --info-block-border-bottom-light: #35353c;
  --svg-link-fill: #ffffff;
  --project-cart-shadow: 0px 0px 3px 0px #d9d9d9;
  --project-cart-shadow-hover: 1px 1px 8px 1px #d9d9d9;
  --clip-color: #A3B2FF;
  --clip-border-color: #A3B2FF;
  --background-footer: #12131a;
  --project-description-color: #cccdce;
  --background-content: #181a21;
  --link-color: #A3B2FF;
  --main-button-color: #12121a;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-main: #ededed;
    --background-side-navigate: grey;
    --background-content-color: #0a0a0a;
    color-scheme: dark;
  }
}

@media (max-width: 880px) {
  :root {
    --padding-content-block: 20px;
    --padding-main: 20px;
    --padding-bottom-home-block: 80px;
    --header-size-height: 62px;
  }
}

@media (max-width: 500px) {
  :root {
    --padding-content-block: 16px;
    --padding-main: 16px;
    --font-size-h1: 36px;
    --font-size-h2: 22px;
    --font-size-h3: 16px;
    --padding-bottom-home-block: 64px;
  }
}

html,
nav,
aside {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-main);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}


h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}
